.text {
  color: #16df37;
  font-size: x-large;
  padding-top: 8%;
}

.bg-black{
  height: 100vh;
}

#no8 {
  font-size: 30px;
}

.color {
  color: black;
}
@media only screen and (max-width: 576px){
  .text{
      padding-top: 40%;
      padding-left: 30px;
  }
}